main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "title"
    "content";
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  grid-area: title;
  text-align: center;
}

.pane {
  width: clamp(340px, 15vw, 600px);
  aspect-ratio: 16/8;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
}


input {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  &:focus {
    outline: none;
    background-color: rgb(255, 255, 255, 0.1);
  }
}