@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --gray-light: #a9a9a9;
  --gray-medium: #696969;
  --gray-dark: #2f2f2f;
  --red-bright: #EE4B2B;
  --shake-magnitude: 2px;
  --shake-negative-magnitude: -2px
}

body {
  margin: 0;
  background-color: var(--gray-light);
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}
