input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  &:focus::placeholder {
    opacity: 0;
  }
}

.join-room-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: auto;
}

.room-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-error {
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 5px rgba(255, 0, 0, 0.2);
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(var(--shake-negative-magnitude)); }
  20% { transform: translateX(var(--shake-magnitude)); }
  30% { transform: translateX(var(--shake-negative-magnitude)); }
  40% { transform: translateX(var(--shake-magnitude)); }
  50% { transform: translateX(var(--shake-negative-magnitude)); }
  60% { transform: translateX(var(--shake-magnitude)); }
  70% { transform: translateX(var(--shake-negative-magnitude)); }
  80% { transform: translateX(var(--shake-magnitude)); }
  90% { transform: translateX(var(--shake-negative-magnitude)); }
  100% { transform: translateX(0); }
}